.game-board {
  position: relative;
}

#board {
  height: 100%;
  font-family: Montserrat, sans-serif;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 12px;

  div {
    border-radius: 12px;
    font-size: 3.125em;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.div-overlay {
  background: rgba(0, 0, 0, 0.6);
  border-radius: 12px;
  position: absolute;
  inset: -10px;

  button {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    position: absolute;
    inset: 0;
    margin: auto;
  }

  button:hover {
    background: white;
  }
}
